# Dependencies
node_modules/

# Production build outputs
dist/
frontend/dist/
backend/dist/

# Environment variables & secrets
.env
backend/.env

# IDE / System files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
